@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

@import 'react-redux-toastr/src/styles/index';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: Inter;
	&::-webkit-scrollbar-thumb {
		background-color: #e7f6ff;
		border: 4px solid transparent;
		border-radius: 8px;
		background-clip: padding-box;
	}

	&::-webkit-scrollbar {
		width: 16px;
	}
}
