.list {
	@apply absolute z-10 w-full animate-fade overflow-y-auto rounded-2xl bg-gray-600 p-2;
	&::-webkit-scrollbar-thumb {
		@apply rounded-3xl bg-gray-200;
	}
	&::-webkit-scrollbar {
		@apply w-3.5 rounded-xl;
	}
	top: calc(100% + 15px);
	max-height: 400px;

	.item {
		@apply flex items-center gap-3 rounded-3xl border border-gray-100 transition-colors;
		height: 100px;
		&:not(:last-child) {
			@apply mb-3;
		}
		&:hover {
			@apply border-gray-400;
		}

		.info {
			@apply flex w-full flex-col;

			> h3 {
				@apply w-32 truncate;
			}

			> p {
				@apply font-semibold;
			}
		}
	}

	.notfound {
		@apply py-3 text-center text-xl font-semibold;
	}
}
